<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Random Pro</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txt</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Text</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Random</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>selecte_app_icon_avocado</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_avocado</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_blue_raspberry</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_blue_raspberry</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_crimson_tide</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_crimson_tide</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_evening_night</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_evening_night</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_frosty_sky</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_frosty_sky</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_grade_grey</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_grade_grey</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_harvey</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_harvey</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_heliotrope</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_heliotrope</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_lithium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_lithium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_marine_fuchsia</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_marine_fuchsia</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_midnight_city</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_midnight_city</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_moon_purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_moon_purple</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_moonlit_asteroid</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_moonlit_asteroid</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_orange_fun</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_orange_fun</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_pure_lust</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_pure_lust</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_queen_necklace</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_queen_necklace</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_red_lime</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_red_lime</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_sandy_desert</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_sandy_desert</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_selenium</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_selenium</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_sin_city_red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_sin_city_red</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_summer_dog</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_summer_dog</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_terminal</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_terminal</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>selecte_app_icon_violet_lemon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>selecte_app_icon_violet_lemon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.sosinvitalii.Random</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>es</string>
		<string>it</string>
		<string>ru</string>
		<string>tr</string>
	</array>
	<key>CFBundleName</key>
	<string>Random Pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>730.21.30</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.sosinvitalii.Deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>random</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>147</string>
	<key>CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED</key>
	<string>YES</string>
	<key>CODE_SIGN_IDENTITY</key>
	<string>iPhone Developer</string>
	<key>CODE_SIGN_STYLE</key>
	<string>Automatic</string>
	<key>CURRENT_PROJECT_VERSION</key>
	<string>147</string>
	<key>DEVELOPMENT_TEAM</key>
	<string>34VDSPZYU9</string>
	<key>DISPLAY_NAME</key>
	<string>Random Pro</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>20C52</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>13.0</string>
	<key>DTSDKBuild</key>
	<string>20C52</string>
	<key>DTXcode</key>
	<integer>1420</integer>
	<key>DTXcodeBuild</key>
	<string>14C18</string>
	<key>ENABLE_BITCODE</key>
	<string>NO</string>
	<key>ENABLE_TESTABILITY</key>
	<string>YES</string>
	<key>INDENT_WIDTH</key>
	<string>2</string>
	<key>IPHONEOS_DEPLOYMENT_TARGET</key>
	<string>13.0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>MARKETING_VERSION</key>
	<string>730.21.30</string>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSCameraUsageDescription</key>
	<string>Please provide access to the Camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Provide access to randomly generate contacts</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please provide access to the Photo Library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please provide access to the Photo Library</string>
	<key>PRODUCT_BUNDLE_IDENTIFIER</key>
	<string>com.sosinvitalii.Random</string>
	<key>TAB_WIDTH</key>
	<string>2</string>
	<key>TARGETED_DEVICE_FAMILY</key>
	<string>1,2</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>Random.SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>VALID_ARCHS</key>
	<string>arm64</string>
</dict>
</plist>
