<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Please provide access to the Camera</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Random Pro</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.sosinvitalii.Deeplink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>random</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>Provide access to randomly generate contacts</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Please provide access to the Photo Library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Please provide access to the Photo Library</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Can you use your activity data? If you allow, Random Pro&apos;s ads on websites and other apps will be more relevant.</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>zq492l623r.skadnetwork</string>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
  
  <key>CFBundleIcons</key>
  <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
          <key>CFBundleIconFiles</key>
          <array>
              <string>selecte_app_icon_default</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
      </dict>
      
      <key>CFBundleAlternateIcons</key>
      <dict>
        
          <key>selecte_app_icon_blue_raspberry</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_blue_raspberry</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_crimson_tide</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_crimson_tide</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_evening_night</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_evening_night</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_grade_grey</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_grade_grey</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_harvey</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_harvey</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_lithium</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_lithium</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_midnight_city</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_midnight_city</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_moon_purple</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_moon_purple</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_moonlit_asteroid</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_moonlit_asteroid</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_orange_fun</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_orange_fun</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_pure_lust</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_pure_lust</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_selenium</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_selenium</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_terminal</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_terminal</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_summer_dog</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_summer_dog</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>
          
          <key>selecte_app_icon_sin_city_red</key>
          <dict>
              <key>CFBundleIconFiles</key>
              <array>
                  <string>selecte_app_icon_sin_city_red</string>
              </array>
              <key>UIPrerenderedIcon</key>
              <false/>
          </dict>

      </dict>
  </dict>
</dict>
</plist>
